<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <meta content='description' name='The RESTful Cookbook 是由 Joshua Thijssen 及其小伙伴编写的一本关于 RESTful 的手册。这个仓库是由 sofish 提供的中文译本。'>
    <link href='{{ site.baseurl }}/assets/restcookbook.css' type='text/css' rel='stylesheet' media='screen, projection'>
    <title>{% if page/.title %} {{ page.title }} | {% endif %} - RESTful 手册</title>
  </head>
  
  <body>
    <header id="header">
      <h1>
        <a href='{{ site.baseurl }}/'>RESTful 手册</a>
      </h1>
      <h4 class="typo-small">如何把东西变得 RESTful</h4>
    </header>
    
    <div id='side'>{% for category in site.categories %}
      <h4>{{ category | first }} ({{ category | last | size }})</h4>
      <ul>
        {% for post in category.last %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>{% endfor %}
    </div>
    
    <div id="content" class="typo">{{ content }}</div>
      
    <small id="footer" class="serif">Copyright 2012
      <a href="http://www.adayinthelifeof.nl/">Joshua Thijssen</a> and others. Like to contribute? Add your recipe to our
      <a href="http://github.com/restcookbook/restcookbook">github repository</a>.
      <br>Looking for Puppet recipies? Try the
      <a href="http://www.puppetcookbook.com">Puppet CookBook</a>.
    </small>
    
    <a id="fork" href="https://github.com/sofish/restcookbook"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  </body>
  
</html>